# NORMALIZATION

In [ ]:
#Normalization is a step to clean our data. It is generally performed because when data carries distant values means they have
#values which are generally has huge intervals.So we normalize data and brings them close.
# sklearn makes our task easier
# Using StandardScaler() function, it adjust our data close to 0, means std=1 and mean=0.
# Using MinMaxScaler() function, it works on sigmoid function hence convert data in between 0 & 1

#Let's see each of them

# Using StandardScaler() function

In [1]:
import pandas as pd
data = pd.read_csv('cell_samples.csv')
data.head()

,ID,Clump,UnifSize,UnifShape,MargAdh,SingEpiSize,BareNuc,BlandChrom,NormNucl,Mit,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [9]:
x = data.iloc[:,1:3].values

In [10]:
from sklearn import preprocessing
x = preprocessing.StandardScaler().fit_transform(x.astype(float))
x

array([[ 0.20693572, -0.69999505],
       [ 0.20693572,  0.28384518],
       [-0.50386559, -0.69999505],
       ...,
       [ 0.20693572,  2.25152563],
       [-0.14846494,  1.59563215],
       [-0.14846494,  1.59563215]])

# Using MinMaxScaler() function

In [13]:
y = data.iloc[:,1:3].values

In [15]:
y = preprocessing.MinMaxScaler().fit_transform(x.astype(float))
y

array([[0.44444444, 0.        ],
       [0.44444444, 0.33333333],
       [0.22222222, 0.        ],
       ...,
       [0.44444444, 1.        ],
       [0.33333333, 0.77777778],
       [0.33333333, 0.77777778]])

# Fill Null Value

In [15]:
# Now lets check weather your data is carrying null value
# int64 means your data has all integer value
# object means your data has null value
data = pd.read_csv('cell_samples.csv')
data.dtypes

ID              int64
Clump           int64
UnifSize        int64
UnifShape       int64
MargAdh         int64
SingEpiSize     int64
BareNuc        object
BlandChrom      int64
NormNucl        int64
Mit             int64
Class           int64
dtype: object

In [18]:
# Let's remove it
data = data[pd.to_numeric(data.BareNuc,errors='coerce').notnull()]
data.BareNuc = data.BareNuc.astype(int)
data.dtypes

ID             int64
Clump          int64
UnifSize       int64
UnifShape      int64
MargAdh        int64
SingEpiSize    int64
BareNuc        int32
BlandChrom     int64
NormNucl       int64
Mit            int64
Class          int64
dtype: object

# One HotEncoder

In [ ]:
# When we have categorical cities in our data we need to convert them into integer

In [ ]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
LabelEncoder().fit_transform(X[:,2]) #put the column
OneHotEncoder().fit_transform(categorical_features=[3]) #put no of cities